CarUI/Connected Services/DriverNamespace/DriverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DriverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44341/DriverService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44341/DriverService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44341/DriverService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarCommon" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDriverServerLogic_ValidateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDriver" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_ValidateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_UpdateDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriver" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_UpdateDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_DeleteDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriver" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_DeleteDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_SelectDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDrivers" />
  </wsdl:message>
  <wsdl:message name="IDriverServerLogic_SelectDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDriversResponse" />
  </wsdl:message>
  <wsdl:portType name="IDriverServerLogic">
    <wsdl:operation name="ValidateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriverServerLogic/ValidateDriver" message="tns:IDriverServerLogic_ValidateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriverServerLogic/ValidateDriverResponse" message="tns:IDriverServerLogic_ValidateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriverServerLogic/UpdateDriver" message="tns:IDriverServerLogic_UpdateDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriverServerLogic/UpdateDriverResponse" message="tns:IDriverServerLogic_UpdateDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriverServerLogic/DeleteDriver" message="tns:IDriverServerLogic_DeleteDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriverServerLogic/DeleteDriverResponse" message="tns:IDriverServerLogic_DeleteDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDrivers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriverServerLogic/SelectDrivers" message="tns:IDriverServerLogic_SelectDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriverServerLogic/SelectDriversResponse" message="tns:IDriverServerLogic_SelectDrivers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDriverServerLogic" type="tns:IDriverServerLogic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateDriver">
      <soap:operation soapAction="http://tempuri.org/IDriverServerLogic/ValidateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDriver">
      <soap:operation soapAction="http://tempuri.org/IDriverServerLogic/UpdateDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDriver">
      <soap:operation soapAction="http://tempuri.org/IDriverServerLogic/DeleteDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDrivers">
      <soap:operation soapAction="http://tempuri.org/IDriverServerLogic/SelectDrivers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DriverService">
    <wsdl:port name="BasicHttpBinding_IDriverServerLogic" binding="tns:BasicHttpBinding_IDriverServerLogic">
      <soap:address location="http://localhost:53699/DriverService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>